In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Modelling
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split, RandomizedSearchCV

from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [20]:
df = pd.read_csv('data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [21]:
X = df.drop('math score',axis=1)
y = df['math score']

In [22]:
num_feature = [fea for fea in X.columns if X[fea].dtype != 'O']
cat_feature = [fea for fea in X.columns if X[fea].dtype == 'O']
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([("OneHot",OneHotEncoder(),cat_feature),
                        ("Scaler",StandardScaler(),num_feature)
                        
                        ])

In [23]:
X = ct.fit_transform(X)
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]], shape=(1000, 19))

In [24]:
X.shape

(1000, 19)

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,test_size=0.25)
X_train

array([[ 0.        ,  1.        ,  1.        , ...,  0.        ,
        -1.51916447, -0.9253323 ],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.8792638 ,  0.65485663],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.28568707, -0.46444386],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.49126664, -0.99117351],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
        -1.45063795, -0.99117351],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.4960025 ,  1.37910989]], shape=(750, 19))

In [40]:
def evaluate_model(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    rmse = np.sqrt(mean_squared_error(y_true, y_pred))
    r2 = r2_score(y_true, y_pred)
    return mae, rmse, r2

In [41]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)  # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test dataset
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance for Training set')
    print('- Root Mean Squared Error: {:.4f}'.format(model_train_rmse))
    print('- Mean Absolute Error: {:.4f}'.format(model_train_mae))
    print('- R2 Score: {:.4f}'.format(model_train_r2))
    print('----------------------------------')
    print('Model performance for Test set')
    print('- Root Mean Squared Error: {:.4f}'.format(model_test_rmse))
    print('- Mean Absolute Error: {:.4f}'.format(model_test_mae))
    print('- R2 Score: {:.4f}'.format(model_test_r2))

    r2_list.append(model_test_r2)

    print('=' * 35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.2972
- Mean Absolute Error: 4.2383
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.4825
- Mean Absolute Error: 4.3379
- R2 Score: 0.8778
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.5515
- Mean Absolute Error: 5.1837
- R2 Score: 0.8077
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.6541
- Mean Absolute Error: 5.2217
- R2 Score: 0.8200
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.2976
- Mean Absolute Error: 4.2368
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.4788
- Mean Absolute Error: 4.3354
- R2 Score: 0.8780
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 5.7920
- Mean Absolute Error: 4.5864
- R2 Score: 0.8497
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.1327
- Mean Absolute Error: 5.5208
- R2 Score: 0.7932
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.2887
- Mean Absolute Error: 0.0200
- R2 Score: 0.9996
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.8440
- Mean Absolute Error: 6.0560
- R2 Score: 0.7499
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.2910
- Mean Absolute Error: 1.8205
- R2 Score: 0.9765
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.1534
- Mean Absolute Error: 4.7855
- R2 Score: 0.8461
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.8783
- Mean Absolute Error: 0.5772
- R2 Score: 0.9965
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3464
- Mean Absolute Error: 4.9605
- R2 Score: 0.8363
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 2.9444
- Mean Absolute Error: 2.3221
- R2 Score: 0.9612
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.9762
- Mean Absolute Error: 4.6508
- R2 Score: 0.8548
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.8112
- Mean Absolute Error: 4.7264
- R2 Score: 0.8487
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3089
- Mean Absolute Error: 4.8896
- R2 Score: 0.8382
===================================

In [42]:
pd.DataFrame(list(zip(model_list,r2_list)),columns=['Model Name','R2_Score']).sort_values(by=['R2_Score'],ascending=False)

                Model Name  R2_Score
2                    Ridge  0.877990
0        Linear Regression  0.877824
7    CatBoosting Regressor  0.854830
5  Random Forest Regressor  0.846097
8       AdaBoost Regressor  0.838219
6             XGBRegressor  0.836290
1                    Lasso  0.820027
3    K-Neighbors Regressor  0.793207
4            Decision Tree  0.749910